body{
    margin: 0;
    padding: 0;
    background-color: beige;
}

@font-face {
    font-family: Lora;
    src: url(./fonts/Lora.ttf);
}

@font-face {
    font-family: trail;
    src: url(./fonts/Questrial-Regular.ttf);
}


.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #D29494;
    color: aliceblue;
}

.navbar h2{
    font-family: trail;
    font-weight: 100;
}

.navbarlinks .homelink,.aboutuslink, .loginlink{
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 1s ease-in;
}



.navbarlinks ion-icon{
    margin-left: -10%;
}

.navbarlinks{
    width: 50%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.navbarlinks a{
    margin-left: 20px;
    text-decoration: none;
    font-size: medium;
    font-family: trail;
    color: whitesmoke;
    transition: all 1s ease-in;
    padding: 10px;
}

.navbarlinks a:hover{
    background-color: beige;
    color: #D29494;
}

.bodytext{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bodytext h1{
    font-size: 5em;
    color: #DA6C6C;
    line-height: 1em;
}

.textleft{
    margin-left: 3%;
}

.textleft a{
    font-family: trail;
    text-decoration: none;
    background-color: #DA6C6C;
    padding: 10px;
    color: wheat;
}

.textleft span{
    color: #AF3E3E;
}

.textleft p{
    font-family: trail;
    font-size: medium;
}

.blackWoman{
    width: 35%;
}

.icons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    background-color: #D29494;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icons ion-icon{
    font-size: larger;
}

.icons p{
    font-family: trail;
}

.products{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.productsAnim img{
    width: 70%;
}

.productsAnim{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.productsAnim h3{
    font-family: lora;
    font-weight: 100;
}

.productsAnim p{
    font-family: trail;
}