body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

@font-face {
    font-family: Lora;
    src: url(./fonts/Lora.ttf);
}

@font-face {
    font-family: trail;
    src: url(./fonts/Questrial-Regular.ttf);
}

@font-face {
    font-family: Playlist;
    src: url(./fonts/Playlist\ Script.otf);
}


.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #AF3E3E;
    color: aliceblue;
}

.navbar h2{
    font-family: trail;
    font-weight: 100;
}

.navbarlinks .homelink,.aboutuslink, .loginlink{
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 1s ease-in;
}



.navbarlinks ion-icon{
    margin-left: -10%;
}

.navbarlinks{
    width: 50%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.navbarlinks a{
    margin-left: 20px;
    text-decoration: none;
    font-size: medium;
    font-family: trail;
    color: whitesmoke;
    transition: all 1s ease-in;
    padding: 10px;
}

.navbarlinks a:hover{
    background-color: beige;
    color: #AF3E3E;
}

.bodytext{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bodytext h1{
    font-size: 5em;
    color: #DA6C6C;
    line-height: 1em;
}

.textleft{
    margin-left: 3%;
}

.textleft a{
    font-family: trail;
    text-decoration: none;
    background-color: #DA6C6C;
    padding: 10px;
    color: wheat;
}

.textleft span{
    color: #AF3E3E;
}

.textleft p{
    font-family: trail;
    font-size: medium;
}

.blackWoman{
    width: 35%;
}

.icons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    background-color: #AF3E3E;
    padding-top: 20px;
    padding-bottom: 20px;
    color: whitesmoke;
}

.icons ion-icon{
    font-size: larger;
}

.icons p{
    font-family: trail;
}

.products{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.products h1{
    font-family: lora;
    font-weight: 100;
    margin-left: 4%;
    margin-top: 5%;
}

.productsAnim img{
    width: 70%;
}

.productsAnim{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.productsAnim h3{
    font-family: lora;
    font-weight: 100;
}

.productsAnim p{
    font-family: trail;
}

.ourPartners{
    display: flexbox;
    flex-direction: column;
    margin-top: 6%;
}


.ourPartners img{
    width: 25%;
}

.partnerBody{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 5%;
}

.partnerBody h1{
    font-family: lora;
}

.partnerBodyText p{
    font-family: trail;
    font-size: smaller;
}

.partnerBodyText a{
    text-decoration: none;
    background-color: #AF3E3E;
    padding: 10px;
    color: white;
    font-family: trail;
    transition: all 1s ease-in-out;
}

.partnerBodyText a:hover{
    background-color: #D29494;
    color: black;
}

.costumerreview{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    width: 20%;
    background-color: #AF3E3E;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom:3%;
    color: beige;
}

.costumerreview p{
    font-family: trail;
    font-size: medium;
}

.costumerreview h3{
    font-family: lora;
    font-weight: 100;
}

.costumerreview img{
    width: 30%;
}

.reviewsDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 2%;
}

.reviewsDiv h1{
    font-family: trail;
    font-style: italic;
}

.ourReviews{
    margin-top: 4%;
    text-align: center;
}

.ourReviews h1{
    color: #AF3E3E;
}

